@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: #e0f5ee;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #1d2421;
}

h1#principal{
    text-align: center;
}

h2{
    color: #3c887c;
}

.basico{
    color: #90c990;
}

.intermediario{
    color: #c9c590;
}

.avancado{
    color: #c99090;
}