@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color: rgb(224, 245, 238);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(29, 36, 33);
}

h1#principal{
    text-align: center;
}

h2{
    color: rgb(60, 136, 124);
}